<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <script src="js/lib/react-with-addons.js"></script>
        <script src="js/lib/react-dom.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
        <script src="js/vault.js"></script>
        <script type="text/babel">

            var mountNode = document.getElementById("app");
            var vr = new Vault.Record("test-connection");

            var Grid = React.createClass({

                render: function() {
                    var rows = this.props.data.map(function(item, index) {
                        return <p key={index}>{item.title}</p>
                    })

                    return (
                        <div>{rows}</div>
                    )
                }
            })

            var GridForm = React.createClass({

                getInitialState: function() {
                    return {title: ""}
                },

                handleTitleChange: function(e) {
                    this.setState({title: e.target.value});
                },

                handleSubmit: function(e) {
                    e.preventDefault();
                    console.log("asdfasdfasdf");
                    var title = this.state.title.trim();
                    this.props.onTitleSubmit({title: title});
                    this.setState({title: ""})
                },

                render: function() {
                    return (
                        <form onSubmit={this.handleSubmit}>
                            <input type="text" value={this.state.title} onChange={this.handleTitleChange} placeholder="title goes here"></input>
                            <input type="submit" />
                        </form>
                    );
                }
            })

            var App = React.createClass({

                getInitialState: function() {
                    return {data: {items:[]}};
                },

                update: function() {
                    vr.refresh(function(data) {
                        console.log("refresh: ", data);
                        this.setState({data: data});
                    }.bind(this));
                },

                handleTitleSubmit: function(obj) {
                    var currentData = this.state.data;
                    currentData.items.push(obj)
                    this.setState({data: currentData})

                    vr.set('items', currentData.items);

                    vr.save(function() {
                        console.log("shoulda worked")
                    });

                },

                componentDidMount: function() {
                    this.update();
                },

                render: function() {
                    return (
                        <div>
                            <Grid data={this.state.data.items} />
                            <GridForm onTitleSubmit={this.handleTitleSubmit}/>
                        </div>
                    )
                }
            })

            ReactDOM.render(<App />, mountNode);

        </script>
    </head>
    <body>
        <div id="app"></div>
    </body>
</html>
