/* Grayscale */

$white: #fff;
$lightest-gray-1: #eef1f4;
$light-gray-2: #b0bdc7;
$med-gray-3: #828fa0;
$dark-gray-4: #36394b;
$darkest-gray-5: #282931;
$blackish: #000000;


/* Active + Bright */

$bright-purple: #a381e1;
$bright-yellow: #d4de2d;
$bright-blue: #46e1ff;
$bright-green: #46ffdc;

$yellow: #eded64;
$dark-blue: #36394a;
$darkest-blue: #282930;
$code-gray: #6c6e7a;
$border-gray: #60605f;
$header-black: #292929;


$med-green: #00b29a;
