/* Breakpoints */
.two-col,
.three-col,
.four-col {
  display: inline-block;
  vertical-align: top;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box; }

.two-col {
  width: 49%; }

.three-col {
  width: 32%; }

.four-col {
  width: 24%; }

.desktop {
  display: block; }

.mobile {
  display: none; }

@media screen and (max-width: 769px) {
  .two-col,
  .three-col,
  .four-col {
    display: block;
    width: 90%; }

  .desktop {
    display: none; }

  .mobile {
    display: block; } }
/* Grayscale */
/* Active + Bright */
/* use only global font size mixins  for consistency */
@font-face {
  font-family: 'Aller Italic';
  src: url("../fonts/aller_it-webfont.eot");
  src: url("../fonts/aller_it-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/aller_it-webfont.woff2") format("woff2"), url("../fonts/aller_it-webfont.woff") format("woff"), url("../fonts/aller_it-webfont.ttf") format("truetype"), url("../fonts/aller_it-webfont.svg#alleritalic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Aller Light';
  src: url("../fonts/aller_lt-webfont.eot");
  src: url("../fonts/aller_lt-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/aller_lt-webfont.woff2") format("woff2"), url("../fonts/aller_lt-webfont.woff") format("woff"), url("../fonts/aller_lt-webfont.ttf") format("truetype"), url("../fonts/aller_lt-webfont.svg#aller_lightregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Tungsten Book';
  src: url("../fonts/tungsten-book-webfont.eot");
  src: url("../fonts/tungsten-book-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/tungsten-book-webfont.woff2") format("woff2"), url("../fonts/tungsten-book-webfont.woff") format("woff"), url("../fonts/tungsten-book-webfont.ttf") format("truetype"), url("../fonts/tungsten-book-webfont.svg#tungstenbook") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Tungsten Light';
  src: url("../fonts/tungsten-light-webfont.eot");
  src: url("../fonts/tungsten-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/tungsten-light-webfont.woff2") format("woff2"), url("../fonts/tungsten-light-webfont.woff") format("woff"), url("../fonts/tungsten-light-webfont.ttf") format("truetype"), url("../fonts/tungsten-light-webfont.svg#tungstenlight") format("svg");
  font-weight: normal;
  font-style: normal; }
h4, h5, h6, body, p, li, span, code {
  font-family: 'Aller Light', Helvetica, Sans-Serif;
  color: #36394a; }

h1, h2, h3 {
  font-family: 'Tungsten Light', Helvetica, Sans-Serif;
  text-transform: uppercase;
  color: #36394a;
  letter-spacing: 1px;
  text-align: center; }

h1 {
  font-size: 52px;
  letter-spacing: 1.25px; }

h2 {
  font-size: 38px; }

h3 {
  font-size: 32px; }

h4 {
  font-size: 20px;
  font-weight: normal; }

@media screen and (max-width: 769px) {
  h1, h2, h3, h4, h5, h6 {
    letter-spacing: normal; } }

p,
li {
  font-size: 16px;
  line-height: 24px; }

.small {
  font-size: 12px; }

a, a:hover, a:active, a:visited {
  text-decoration: none;
  color: #eded64; }

a:hover {
  color: #46e1ff;
  cursor: pointer;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out; }

a.button {
  text-decoration: none;
  border: 3px solid #eded64;
  color: #fff;
  font-family: 'Tungsten Light', Helvetica, Sans-Serif;
  font-size: 22px;
  text-transform: uppercase;
  padding: 18px 57px;
  letter-spacing: 1px;
  display: inline-block;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out; }

a.button:hover {
  color: #36394a;
  background-color: #eded64; }

section.introduction .subheader,
section.introduction .subsection,
section.introduction h1,
section.introduction p {
  color: #fff; }

@media screen and (max-width: 769px) {
  h1 {
    font-size: 38px;
    letter-spacing: 1.25px; }

  h2 {
    font-size: 32px; }

  h3 {
    font-size: 20px; }

  a.button {
    font-size: 18px;
    padding: 9px 28px; } }
header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.header-bg {
  background-color: #292929;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

header h1 {
  color: #fff;
  display: inline-block;
  font-size: 32px;
  z-index: 1;
  position: relative;
  text-align: left;
  vertical-align: top;
  margin-top: 25px;
  font-weight: 300; }

.logo {
  display: inline-block;
  background-image: url("../images/drawbridge_logo_2x.gif");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  background-size: contain;
  height: 100%;
  width: 100%;
  height: 60px;
  width: 45px;
  background-repeat: no-repeat;
  margin: 10px 10px 10px 18px;
  vertical-align: top;
  position: relative; }

body {
  margin: 0; }

.blue-bg {
  background-color: #36394a; }
  .blue-bg .subsection {
    color: #fff; }

.dark-blue-bg {
  background-color: #282930; }

.yellow-bg {
  background-color: #eded64; }

.inner-container {
  max-width: 100%;
  width: 1000px;
  margin: 0 auto;
  position: relative; }

section {
  padding: 80px 15px;
  border-bottom: 1px solid #eef1f4; }
  section h2 {
    margin-top: 5px;
    font-size: 52px;
    letter-spacing: 1.25px; }
  section p {
    margin: 0 auto;
    text-align: center; }

section:last-of-type {
  border-bottom: none; }

.subheader {
  max-width: 650px;
  margin: 0 auto;
  text-align: center; }

.subsection {
  max-width: 530px;
  margin: 20px auto;
  text-align: center; }

.two-col .subheader,
.two-col .subsection {
  text-align: left; }

.feature-container {
  margin-top: 40px; }
  .feature-container p {
    padding: 0 20px; }

.instruction-container p,
.instruction-container .subsection,
.instruction-container .code-container,
.instruction-container .subheader {
  text-align: left;
  width: 310px; }
.instruction-container .subheader {
  margin: 20px auto; }

.cta {
  margin-top: 40px; }

@media screen and (max-width: 769px) {
  section {
    padding: 40px 15px; }

  section h1, section h2 {
    text-align: center;
    font-size: 38px;
    margin-bottom: 30px; }

  .feature-container p {
    padding: 0; }

  p,
  .subsection,
  .code-container,
  .subheader {
    text-align: center;
    width: 90%;
    margin: 0 auto; }

  .subheader {
    margin-bottom: 30px; } }
section.introduction {
  z-index: 1;
  height: 685px;
  box-sizing: border-box; }
  section.introduction h2 {
    color: #fff;
    margin-top: 5px;
    font-size: 52px;
    letter-spacing: 1.25px; }
  section.introduction .inner-container {
    margin-top: 100px; }

.bg-hero {
  background-image: url("../images/bg_2x.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  height: 685px;
  width: 100%;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0; }

code {
  border: 1px solid #fff;
  background-color: #fff;
  color: #6c6e7a;
  padding: 10px 15px; }

.code-container {
  margin: 25px auto 20px;
  text-align: center; }

.two-col {
  margin-top: 60px; }

.instruction-container p,
.instruction-container .subsection,
.instruction-container .code-container,
.instruction-container .subheader,
.instruction-container .btn-container {
  text-align: left;
  width: 310px; }
.instruction-container .btn-container {
  text-align: right;
  margin: 0 auto; }
.instruction-container .subheader {
  margin: 20px auto; }

.instruction-container:first-of-type a.button {
  margin-top: 35px; }

.instruction-container:last-of-type {
  border-left: 1px solid #60605f; }
  .instruction-container:last-of-type h4 {
    margin-top: 0; }

@media screen and (max-width: 769px) {
  section.introduction .subsection {
    margin-bottom: 30px; }

  .instruction-container:first-of-type a.button {
    margin-top: 0;
    margin-bottom: 15px; }

  section.introduction h2:first-of-type {
    font-size: 38px;
    text-align: center;
    width: 90%;
    margin: 0 auto 30px; }

  .two-col.instruction-container,
  .instruction-container p, .instruction-container .subsection, .instruction-container .code-container, .instruction-container .subheader {
    border-left: none;
    width: 90%;
    text-align: center;
    margin: 20px auto; }
    .two-col.instruction-container .btn-container,
    .instruction-container p .btn-container, .instruction-container .subsection .btn-container, .instruction-container .code-container .btn-container, .instruction-container .subheader .btn-container {
      width: 100%;
      text-align: center; }

  .instruction-container:last-of-type {
    margin-top: 30px; }

  .instruction-container:last-of-type p,
  .instruction-container:last-of-type .code-container,
  .instruction-container:last-of-type .subheader {
    text-align: left;
    margin: 5px auto; }

  .instruction-container:last-of-type .subheader {
    margin-bottom: 20px; }

  .instruction-container:last-of-type .code-container {
    margin-top: 20px; } }
@media screen and (max-width: 475px) {
  section.introduction,
  .bg-hero {
    height: 730px; } }
.how-it-works-diagram {
  background-image: url("../images/diagram_2x.png");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  width: 870px;
  height: 251px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 30px auto 0;
  max-width: 100%; }

.diagram-drawbridge-placeholder,
.diagram-drawbridge {
  height: 140px;
  position: absolute;
  left: 50%;
  margin-left: -93px;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out; }

.diagram-drawbridge-placeholder {
  opacity: 1; }
  .diagram-drawbridge-placeholder.hide {
    opacity: 0;
    z-index: 0; }

.diagram-drawbridge {
  opacity: 0; }
  .diagram-drawbridge.active {
    opacity: 1;
    z-index: 1; }

@media screen and (max-width: 769px) {
  .how-it-works-diagram {
    background-image: url("../images/diagram_vertical_2x.png");
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    height: 687px;
    width: 300px; }

  .diagram-drawbridge-placeholder,
  .diagram-drawbridge {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -80px;
    height: 120px; } }
@media screen and (max-width: 420px) {
  .diagram-drawbridge-placeholder,
  .diagram-drawbridge {
    top: 52%; } }
.security h4 {
  font-weight: bold; }
.security h4,
.security .subsection {
  max-width: 390px;
  margin: 20px 0; }
.security img {
  margin: 0 auto; }

@media screen and (max-width: 769px) {
  .security .two-col .subheader {
    text-align: center; }
  .security .two-col:first-of-type {
    margin-top: 0; }
  .security .two-col:last-of-type {
    margin-top: 40px; }
  .security h2,
  .security h4,
  .security .subsection {
    width: 90%;
    margin: 20px auto;
    text-align: center; } }
.lfl .lfl-logo {
  background-image: url("../images/lfl_logo_2x.png");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
  height: 101px;
  width: 78px; }

@media screen and (max-width: 769px) {
  .lfl .lfl-logo,
  .lfl .lfl-logo + .subsection {
    margin-bottom: 20px; } }
footer {
  padding: 35px 0;
  position: absolute;
  width: 100%;
  box-sizing: border-box; }

footer p {
  color: #fff;
  max-width: 100%;
  width: 1000px;
  margin: 0 auto;
  text-align: center; }

/*# sourceMappingURL=main.css.map */
