{% extends "base_admin.html" %}

{% block content %}

    {% for user in users %}
    <p>
        {{user.email}} [<a class="delete-row" data-key="{{user.key.urlsafe}}" style="color:red;" href="#">delete</a>]
    </p>
    {% empty %}
    <h2>No users added yet</h2>
    {% endfor %}

    <hr>

    {% for wild_card in wild_card_domains %}
    <p>
        {{wild_card}} [<a class="delete-wild-card" data-key="{{wild_card}}" style="color:red;" href="#">delete</a>]
    </p>
    {% empty %}
    <h2>No wild cards in use</h2>
    {% endfor %}


    <form class="" action="/admin/" method="post">
        <div class="form-group">
            <input type="hidden" name="xsrf" value="{{xsrf}}">
            <input type="text" class="form-control" name="email" placeholder="specific email or wildcard">
            <p class="help-block">Specific email like `seb@something.com` or wildcard, like `*somecompany.com`</p>
        </div>
        <button class="btn btn-primary" type="submit" name="button">Add user</button>
    </form>

{% endblock %}

{% block bottom_js %}

<script>

    (function() {

        $('.delete-wild-card').click(function(event) {
            event.preventDefault();

            var key = $(this).data('key');

            $.ajax({
              type: 'POST',
              url: '/admin/wild-card/' + key + '/delete',
              // post payload:
              data: {
                  'xsrf': "{{xsrf}}"
              },
              success: function(data) {
                  window.location.replace('/admin/success/');
              }
            })
        });

        $('.delete-row').click(function(event) {
            event.preventDefault();

            var key = $(this).data('key');

            $.ajax({
              type: 'POST',
              url: '/admin/' + key +'/delete',
              // post payload:
              data: {
                  'xsrf': "{{xsrf}}"
              },
              success: function(data) {
                  window.location.replace('/admin/success/');
              }
            })
        });

    })()
</script>

{% endblock %}
