{% extends "base_admin.html" %}

{% block content %}

    {% for user in users %}
    <p>
        {{user.email}}
    </p>
    {% empty %}
    <h2>No users added yet</h2>
    {% endfor %}

    <hr>

    {% for wild_card in wild_card_domains %}
    <p>
        {{wild_card}}
    </p>
    {% empty %}
    <h2>No wild cards in use</h2>
    {% endfor %}


    <form class="" action="/admin/" method="post">
        <div class="form-group">
            <input type="hidden" name="xsrf" value="{{xsrf}}">
            <input type="text" class="form-control" name="email" placeholder="specific email or wildcard">
            <p class="help-block">Specific email like `seb@something.com` or wildcard, like `*somecompany.com`</p>
        </div>
        <button class="btn btn-primary" type="submit" name="button">Add user</button>
    </form>

{% endblock %}
