{% extends "base_admin.html" %}

{% block content %}

    <h1>Admin</h1>
    {% for user in users %}
    <p>
        {{user.email}}
    </p>
    {% empty %}
    <p>
        No users
    </p>
    {% endfor %}

    <hr>

    Wild cards:
    {% for wild_card in wild_card_domains %}
    <p>
        {{wild_card}}
    </p>
    {% empty %}
    <p>
        No wild_cards
    </p>
    {% endfor %}


    <form class="" action="/admin/" method="post">
        <input type="text" name="email" placeholder="user email here">
        <button type="submit" name="button">Add user</button>
    </form>

{% endblock %}
