<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>LFL Skeleton - Directory</title>
        <link rel="stylesheet" href="/css/marx.min.css" media="screen" charset="utf-8">
        <style media="screen">
            html {
                background: #222;
                font-family: "Helvetica Neue", Helvetica, Arial;
            }



            body {
                padding: 20px;
            }
        </style>

    </head>
    <body>
        <h1 style="color:#e1e1e1;">Left Field Labs</h1>
        {% if is_admin == True %}
        <a style="position:fixed; right:20px; top:20px;" href="/admin">Admin -></a>
        {% endif %}
        <p>
            {% for page in pages %}
            <p>>> <a href="/project/{{page}}">{{page}}</a></p>
            {% empty %}
            <h2>There are no pages currently setup for this project. Please put any client facing pages in app/templates/project</h2>
            {% endfor %}
        </p>
    </body>
</html>
