<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>GAE Skeleton</title>
    </head>
    <body>
        <h1>Welcome!</h1>
        <p>
            {% for page in pages %}
            <p>
                <a href="/project/{{page}}">{{page}}</a>
            </p>
            {% empty %}
            <h2>There are no pages currently setup for this project. Please put any client facing pages in app/templates/project</h2>
            {% endfor %}
        </p>
    </body>
</html>
